/* general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica , Arial , sans-serif;
  font-size: 14px;
  font-weight: bold;
}

body {
  overflow: hidden;
}

.noliststyle {
  list-style-type: none;
}

.border_hidden {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.selected a{
  color: white;
}

.hoverwhite:hover {
  color: white;
}

/* webkit scrollbars */
main::-webkit-scrollbar {
  width: 8px;
}

main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:lightblue;
}

#nav_left::-webkit-scrollbar {
  width: 8px;
}

#nav_left::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:rgb(200, 200, 200);
}

.list_playlists::-webkit-scrollbar {
  width: 8px;
}

.list_playlists::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:rgb(159, 159, 159);
}

#little_nav_left::-webkit-scrollbar {
  width: 8px;
}

#little_nav_left::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:rgb(200, 200, 200);
}

/* moz scrollbar */
/* .main::-moz-scrollbar {
  width: 8px;
}

.main::-moz-scrollbar-thumb {
  border-radius: 10px;
  background-color:lightblue;
}

#nav_left::-moz-scrollbar {
  width: 8px;
}

#nav_left::-moz-scrollbar-thumb {
  border-radius: 10px;
  background-color:rgb(200, 200, 200);
}

.list_playlists::-moz-scrollbar {
  width: 8px;
}

.list_playlists::-moz-scrollbar-thumb {
  border-radius: 10px;
  background-color:rgb(159, 159, 159);
}

#little_nav_left::-moz-scrollbar {
  width: 8px;
}

#little_nav_left::-moz-scrollbar-thumb {
  border-radius: 10px;
  background-color:rgb(200, 200, 200);
} */


/* nav_left */
#nav_left {
  background: rgba(10,32,41,1);
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100vh - 80px);
  width: 230px;
  color: rgb(200, 200, 200);
  padding: 20px 0 10px 20px;;
  margin-bottom: 80px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logo {
  width: 70%;
  margin-bottom: 10px;
}

    #nav_left_top ul li {
      margin: 10px 0;
    }

      #nav_left_top ul li a{
        display: flex;
        align-items: center;
      }

        .icon {
          width: 28px;
          height: 28px;
          margin-right: 15px;
          transition: filter 0;
        }

#nav_left_middle h4 {
  font-weight: 100;
  font-size: 12px;
  margin: 20px 0 10px;
}

.create {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

  .plus {
    width: 30px;
    height: 30px;
    position: relative;
    background-color: rgb(200, 200, 200);
    margin-right: 10px;
  }

    .plus span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 35px;
      font-weight: 100;
      color: rgba(10,32,41,1);
    }

  .list_playlists {
    max-height: 170px;
    overflow:auto;
  }

      .list_playlists ul li {
        line-height: 30px;
      }

#nav_left_bottom {
margin-top: 10px;
}

  #nav_left_bottom > a {
    display: block;
    margin-bottom: 10px;
  }

    #nav_left_bottom i {
      font-weight: 100;
      margin-right: 10px;
    }

  #nav_left_bottom hr {
    width: 85%;
    color: rgb(200, 200, 200);
    margin: 0;
  }

  #nav_left_bottom > div {
    margin-top: 10px;
  }

  #nav_left_bottom > div a {
    display: flex;
    align-items: center;
  }

    #nav_left_bottom img {
      border-radius: 50%;
      width: 25px;
      height: 25px;
      margin-right: 5px;
    }
#little_nav_left {
  visibility: hidden;
  background: rgba(10,32,41,1);
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100vh - 80px);
  width: 80px;
  color: rgb(200, 200, 200);
  padding: 20px 10px;
  margin-bottom: 80px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

#little_nav_left img {
  width: 50%;
  margin: 0 auto;
  transition: filter 0;
}

 #little_nav_left i {
   font-size: 30px;
 }

 #little_nav_left hr {
   width: 80%;
 }



/* main */
#main {
  background: linear-gradient(135deg, rgba(50,157,200,1) 2%, rgba(18,112,140,1) 32%, rgba(18,112,140,1) 43%, rgba(18,112,140,1) 52%, rgba(18,112,140,1) 59%, rgba(18,112,140,1) 69%, rgba(50,157,200,1) 95%);
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100vh - 80px);
  width: calc(100% - 230px);
  overflow: auto;
  padding: 10px 25px;
}



  #main ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    width: 80%;
    margin: 40px auto;
    line-height: 60px;
  }

  a {
    color: rgb(200, 200, 200);/* DEBUG:  */
    display: block;
    text-decoration: none;
  }

  #main ul li {
    margin: 10px;
  }

  #main ul li:first-of-type {
    position: relative;
  }

  #main ul li:first-of-type span {
    background-color: #1db954;
    height: 2px;
    width: 50px;
    position: absolute;
    display: block;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
  }

  .block_unit {
    margin: 50px auto;
  }

    .header_block_unit {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0;
    }

      .header_block_unit h2 {
        color: white;
        font-size: 35px;
      }

    .playlists_block_unit {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      margin: 20px 0;
    }

    .playlists_block_unit div span a{
      color: white;
    }

      .artist , .playlist {
        text-align: center;
        margin-right: 1%;
        margin-left: 1%;
        width: calc(88% / 6);
      }

        .img_preview {
          position: relative;
          margin-bottom: 10px;
          width: 100%;
        }

          .img_preview img {
            width: 100%;
            box-shadow: 3px 3px 30px black
          }

          .artist img{
            border-radius: 50%;
          }

          .img_preview i {
            visibility: hidden;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: white;
            font-size: 60px;
            font-weight: 100;
            z-index: 5;
            transition: font-size 0;
          }

  /* shadow */
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98.5%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
  }

  .artist .shadow {
    border-radius: 50%;
  }
/* main-hover */

  .artist:hover .shadow,.playlist:hover .shadow, .artist:hover i,.playlist:hover i {
    visibility: visible;
  }

  .create:hover .plus, #little_nav_left .plus:hover {
    background-color: white;
  }

  .border_hidden:hover {
    border-bottom: 1px solid white;
  }

  #little_nav_left a:hover img, .icon:hover{
    filter: brightness(200%);
  }

  .img_preview i:hover {
    font-size: 65px;
  }

/* player */
#player {
  background-color: rgb(40, 40, 40);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 20;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#listening_player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin-right: 10%;
}

#id_song {
  display: flex;
}

  #id_song div {
    margin-right: 5%;
  }

    #listening_player img {
      width: 60px;
      height: 60px;
    }

    #listening_player div:nth-of-type(2) > a {
      display: inline-block;
    }

    #listening_player .fas.fa-heart {
      color: rgb(200, 200, 200);
    }

    #listening_player .fas.fa-heart:active {
      color: green;  /* DEBUG: potrei pensare di fare con la checkbox */
    }

#nav_player {
  width: 40%;
  color: rgba(159, 159, 159, 0.7);
  margin-right: 10%;
}

#nav_player_up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#nav_player_up a {
  margin-left: 5%;
  margin-right: 5%;
}

#nav_player_up i {
  font-size: 15px;
  display: inline-block;
}

#nav_player_up a:nth-of-type(3) i{
  font-size: 30px;
}

#nav_player_down {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav_player_down a {
  display: inline-block;
  border-bottom: 3px solid white;
  border-radius: 5px;
  width: 0;
  margin: 10px 0 10px 2%;
  animation: grow 10s linear;
}

#nav_player_down span {
  font-weight: 100;
}

#nav_player_down i {
  color: white;
}

#nav_player_down a:nth-of-type(2) {
  width: 80%;
  margin: 10px 2% 10px 0;
  border-bottom: 3px solid rgba(159, 159, 159, 0.7);
}

#nav_player_down a{
  animation: grow 15s linear;
}

@keyframes grow {
  0 {
    width: 0;
  }

  50% {
    width: 40%;
  }

  100% {
    width: 80%;
  }
}

#nav_player_down a:nth-of-type(2) {
  animation: decrease 15s linear;
}

@keyframes decrease {
  0 {
    width: 80%;
  }

  50% {
    width: 40%;
  }

  100% {
    width: 0;
  }
}

#tools_player {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  color: rgba(159, 159, 159, 0.7);
}

#other_tools , #volume_bar {
  display: flex;
}

#other_tools {
  width: 25%;
  justify-content: flex-end;
  margin: 0 15%;
}

#other_tools a {
  margin-left: 30%;
}

#volume_bar {
  width: 70%;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

#volume_bar a:nth-of-type(2) {
  display: inline-block;
  border-bottom: 3px solid white;
  width: 65%;
  margin-left: 5%;
}

#volume_bar > i {
  color: white;
}
#volume_bar a:last-of-type{
  border-bottom: 3px solid rgba(159, 159, 159, 0.7);
  width: 30%;
  margin: 0;
}

@media all and (max-width:1199px) and (min-width: 992px) {

}

@media all and (max-width:991px) and (min-width: 768px) {

  .artist , .playlist {
    width: calc(88% / 3);
    margin-right: 4%;
    margin-bottom: 20px;
  }
}

@media all and (max-width:767px) {

  .artist , .playlist {
    width: calc(88% / 3);
    margin-right: 4%;
    margin-bottom: 20px;
  }

  #nav_left {
    visibility: hidden;
  }

  #little_nav_left {
    visibility: visible;
    height: calc(100% - 150px);
    z-index: 10;
  }

  #main {
    width: calc(100% - 80px);
    height: calc(100% - 150px);
    padding: 0 25px;
  }

  #main ul{
    margin: 20px auto;
  }

  #player {
    height: 150px;
  }

  #listening_player {
    padding: 20px 0;
    width: 25%;
  }

  #nav_player_up {
    margin-bottom: 20px;
  }

  #id_song {
    flex-direction: column;
  }

  #tools_player {
    flex-direction: column;
  }

  #other_tools {
    margin-bottom: 20px;
    justify-content: center;
  }

  .plus {
    margin-right: 0;
  }

}

@media all and (max-width: 550px) {

  .artist , .playlist {
    width: calc(88% / 2);
    margin-right: 6%;
    margin-bottom: 20px;
  }

}
