/* general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica , Arial , sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.noliststyle {
  list-style-type: none;
}

/* nav_left */
#nav_left {
  background: rgba(10,32,41,1);
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100vh - 80px);
  width: 250px;
  color: white;
}

#logo {
  width: 60%;
  margin: 20px 20%;
}

#nav_left ul {
  margin-left: 20px;
}

#nav_left ul li {
  margin: 10px 0;
}

#nav_left ul li a{
  display: flex;
  align-items: center;
}

.icon {
  width: 28px;
  height: 28px;
  margin-right: 15px;
}

/* main */
#main {
  background: linear-gradient(135deg, rgba(50,157,200,1) 2%, rgba(18,112,140,1) 32%, rgba(18,112,140,1) 43%, rgba(18,112,140,1) 52%, rgba(18,112,140,1) 59%, rgba(18,112,140,1) 69%, rgba(50,157,200,1) 95%);
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100vh - 80px);
  width: calc(100% - 250px);
  overflow: auto;
  padding: 40px;
}

  #main ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    width: 80%;
    margin: 40px auto;
    line-height: 60px;
  }

  a {
    color: rgb(200, 200, 200);/* DEBUG:  */
    display: block;
    text-decoration: none;
  }

  .selected a{
    color: white;
  }

  .block_unit {
    margin: 50px auto;
  }

    .header_block_unit {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
    }

      .header_block_unit h2 {
        color: white;
        font-size: 35px;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
      }

    .playlists_block_unit {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      margin: 20px 0;
    }

      .artist , .playlist {
        text-align: center;
        margin: 10px;
      }

        .img_preview {
          position: relative;
          width: 140px;
          height: 140px;
          margin-bottom: 10px;
        }

          .img_preview img {
            width: 100%;
          }

          .artist img{
            border-radius: 50%;
          }

          .img_preview i {
            visibility: hidden;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: white;
            font-size: 60px;
            font-weight: 100;
            z-index: 5;
        }

  /* shadow */
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
  }

  .artist .shadow {
    border-radius: 50%;
  }
/* main-hover */

  .artist:hover .shadow,.playlist:hover .shadow, .artist:hover i,.playlist:hover i {
    visibility: visible;
  }

  #main ul li:not(.selected) a:hover, .name:hover , #nav_left ul li:not(.selected) a:hover {
    color: white;
  }

  .header_block_unit h2:hover {
    border-bottom: 1px solid ;
  }


/* player */
#player {
  background-color: darkgrey;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
}
